body{
    background-color: rgb(236,240,241);
}
section{
    margin: 50px;
}

.terinfeksi{
    background-color: dimgray;
    width: 50%;
    padding: 30px;
}

.sembuh{
    background-color: dodgerblue;
    width: 50%;
    padding: 30px;
}

.meninggal{
    background-color: firebrick;
    width: 50%;
    padding: 30px;
}

.chart{
    background-color: white;
    padding: 10px 0px 30px;
}

/* .sectionData{
    background-color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
} */

.bg-grey{
    background-color:rgba(52, 73, 94,1.0);
}
@media screen and (min-width: 601px) {
    .text-md{
        font-size: 35px;
    }
    .number{
        font-size: 70px;
    }
    strong{
        font-family: Arial;
        font-size: 30px;
    }
    .text-h{
        font-size: 40px;
        text-decoration: none;
    }
    .text-foot{
        font-size: 50px;
    }
    .img-whats{
        width: 75px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-facebook{
        width: 75px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-link{
        width: 75px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img-nav{
        width: 40px;
    }
    .image-loading{
        width: 250px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .text-md{
        font-size: 30px;
    }

    .number{
        font-size: 60px;
    }
    strong{
        font-family: Arial;
        font-size: 15px;
    }
    .text-h{
        font-size: 30px;
        text-decoration: none;
    }
    .text-foot{
        font-size: 40px;
    }
    .card{
        margin-top: 20px;
    }
    .img-whats{
        width: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img-facebook{
        width: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img-link{
        width: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img-nav{
        width: 35px;
    }
    .image-loading{
        width: 200px;
    }
  }



p{
    font-family: 'Roboto', sans-serif;
}

.bg-darkgreen{
    background-color: rgba(39, 174, 96,1.0);
}

.bg-darkred{
    background-color: rgba(192, 57, 43,1.0);
}


.information{
    background-color:rgba(243, 156, 18,1.0);
}

.information-2{
    background-color:rgba(192, 57, 43,1.0) ;
}

.information-3{
    background-color: rgba(39, 174, 96,1.0);
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.responsive-special{
    width: 70%;
    max-width: 400px;
    height: auto;
}

.card{
    margin-top: 10px;
}

.link:hover{
    background-color: white;
    color: black;
    font-size: 20px;
}
.link{
    color: white;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
a{
    text-decoration: none;
    color:inherit;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.load{
    overflow: hidden;
}
